/* BASICS */
html {
    scroll-behavior: smooth;
} 
    
    body {
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Pathway Gothic One', sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-size: 30px;
    letter-spacing: 5px;
    align-self: center;
}

p {
    font-size: 20px;
}

button {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 16px;
    border: 1px solid white;
    background-color: black;
    color: white;
    align-self: center;
    padding: 5px;
    width: 180px;
    height: 40px;
    margin: 4px;
    transition-duration: 0.7s;
}

button:hover {
    background-color: grey;
    color: black;
    font-weight: bold;
}

.bottomButton {
    width: 120px;
    margin: 20px;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

#logo {
    padding: 70px;
}

video {
    width: 1300px;
}


/* NAVIGATION */
#nav {
    padding: 40px;
    font-size: 20px;
}

#nav a {
    padding: 40px;
    letter-spacing: 3px;
}



/* TOUR SECTION */
#tour {
    margin: 50px;
    display: flex;
    flex-direction: column;
    width: 35vw;
}

.date {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

/* to change tour date button layout */
.stack { 
    display: flex;
    flex-direction: column;
    align-self: center;
}

.showDates {
    letter-spacing: 3px;
    border: 2px solid white;
}


/* UPDATE SECTION */
.updates {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 15px;
    width: 15vw;
    margin: 20px;
}

.submitUpdate {
    width: 16.5vw;
    height: 50px;
}

#termText {
    font-size: 16px;
}



/* 'THE NOTHING' SECTION */
#nothing {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}


#shop {
    width: 350px;
    height: 350px;
}

#CD, #vinyl {
    margin: 25px;
    flex-direction: column;
}

#alignImages {
    display: flex;
    justify-content: space-evenly;
}


/* MERCH SECTION */
.merch {
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#merchImg {
    width: 80vw;
}

#merchMob {
    display: none;
}

.merchButton {
    padding-bottom: 100px;
}



/* FOOTER */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

i {
    font-size: 24px;
}

iframe{
    align-self: center;
    justify-content: flex-end;
}

.align {
    display: flex;
    flex-direction: row;
}

.socials {
    width: 20vw;
    display: flex;
    justify-content: space-evenly; 
    margin-left: 80px;
}

.footnote {
    font-family: "Open Sans", Arial;
    font-size: 9px;
    word-spacing: 3px;
    letter-spacing: 3px;
}

@media screen and (max-width: 992px) {
    html {
        overflow-x: hidden;
    }
    #nav a {
        padding: 20px;
    }
    nav:link {
        font-size: 18px;
    }
    video {
        width: 650px;
    }
    #tour {
        margin: 20px;
    }
    .date {
        flex-direction: column;
        text-align: center;
    }
    input {
        padding: 15px;
        width: 200px;
        margin: 20px;
    }
    .submitUpdate {
        width: 230px;
        height: 50px;
    }
    #alignImages {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #merchImg {
        display: none;
    }
    #merchMob {
        display: block;
        width: 80vw;
        padding: 25px;
    }
    footer {
        width: 230px;
        margin-bottom: 10px;
        align-items: center;
    }
    .align {
        display: flex;
        flex-direction: column;
    }
    .socials {
        width: 300px;
        margin-right: 80px;
    }
    iframe{
        margin-left: 110px;
        padding: 30px;
    }
}


