/* BASICS */
html {
    scroll-behavior: smooth;
} 
    
    body {
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Pathway Gothic One', sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-size: 30px;
    letter-spacing: 5px;
    align-self: center;
}

p {
    font-size: 20px;
}

button {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 16px;
    border: 1px solid white;
    background-color: black;
    color: white;
    align-self: center;
    padding: 5px;
    width: 180px;
    height: 40px;
    margin: 4px;
    transition-duration: 0.7s;
}

button:hover {
    background-color: grey;
    color: black;
    font-weight: bold;
}

.bottomButton {
    width: 120px;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

.logo {
    padding: 100px;
}



/* NAVIGATION */
.nav {
    padding: 40px;
    font-size: 20px;
}

.nav a {
    padding: 40px;
    letter-spacing: 3px;
}



/* TOUR SECTION */
#tour {
    margin: 50px;
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.date {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

/* to change tour date button layout */
.stack { 
    display: flex;
    flex-direction: column;
    align-self: center;
}



/* UPDATE SECTION */
.updates {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 15px;
    width: 15vw;
    margin: 20px;
}

.submitUpdate {
    width: 16.5vw;
    height: 50px;
}

#termText {
    font-size: 16px;
}



/* 'THE NOTHING' SECTION */
#nothing {
    display: flex;
    align-items: center;
    flex-direction: column;
}


#shop {
    width: 350px;
    height: 350px;
}

#CD, #vinyl {
    margin: 25px;
}

#alignImages {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nothingButtons {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 100px;
}



/* MERCH SECTION */
.merch {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#merchImg {
    width: 80vw;
    padding: 25px;
}

.merchButton {
    padding-bottom: 100px;
}



/* FOOTER */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

i {
    font-size: 24px;
}

iframe{
    align-self: center;
    justify-content: flex-end;
}

.align {
    display: flex;
    flex-direction: row;
}

.socials {
    width: 20vw;
    display: flex;
    justify-content: space-evenly; 
    margin-left: 80px;
}

.footnote {
    font-family: "Open Sans", Arial;
    font-size: 9px;
    word-spacing: 3px;
    letter-spacing: 3px;
}